body {
	background-color: #56a4f6;
}

a {
	text-decoration: none;
}
.header p {
	padding-left: 100px;
	font-family: 黑体;
	font-size: 25px;
	line-height: 70px;
}

.content {
	display: flex;
}
.logo {
	width: 300px;
	height: 100%;
	margin: 90px auto;
}
.load {
	width: 290px; 
	height: 325px;
	margin: 80px auto;
	background-color: white;
	border-radius: 6px;
	text-align: center;
	padding: 0 15px;
	box-shadow: 2px 2px 2px rgba(117,117,17,0.5);
}
.load p {
	color: #e9551a;
	font-family: 黑体;
	font-size: 20px;
	padding: 55px 20px 20px 20px;
}
.load label {
	display: inline-block;
	width: 65px;
	font-family: 黑体;
	line-height: 50px;
}
.load input {
	width: 180px;
	height: 25px;
	border-radius: 3px;
	padding-left: 7px;
	border: 1px solid #9e9e9e;
}
.submit {
	width: 255px;
	background-color: rgba(157,204,34,0.9);
	height: 40px;
	margin: 20px 0 0 20px;
	line-height: 40px;
	font-family: 黑体;
	font-size: 20px;
	color: white;
	border-radius: 3px;
	display: block;
}
.submit:hover {
	cursor: pointer;
	background-color: rgba(157,204,34,1.0);
}